@model Concert.Models.TicketViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Registrar</h1>

<h4>Boleta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                   <label asp-for="Name" class="control-label"></label>
                   <input asp-for="Name" class="form-control" />
                   <span asp-validation-for="Name" class="text-danger"></span>

                   <label asp-for="Document" class="control-label"></label>
                   <input asp-for="Document" class="form-control" />
                   <span asp-validation-for="Document" class="text-danger"></span>

                   <label asp-for="Date" class="control-label"></label>
                   <input asp-for="Date" class="form-control" />
                   <span asp-validation-for="Date" class="text-danger"></span>
                <div class="form-group">  
                    <label asp-for="EntraceId" class="control-label"></label>
                    <select asp-for="EntraceId" asp-items="Model.Entrace" class="form-control"></select>
                    <span asp-validation-for="EntraceId" class="text-danger"></span>
                </div>

            </div>
           
            <div class="form-group mt-2">
                <input type="submit" value="Registrar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success">Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}