@model Concert.Data.Entities.Ticket
@{
    ViewData["Title"] = "Registro";
}


<div class="row">
    <div class="col-md-4 offset-4">
        <h3>Registrar Boleta</h3>
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <a asp-action="Details" asp-route-id=Id class="btn btn-outline-secondary">Registrar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}